In [1]:
import pandas as pd

In [ ]:
data={
    "calories":[420,380,390],
    "duration":[50,40,45]
}
#load data into a DataFrame object:
df=pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

# New section

In [ ]:
import pandas as pd

In [ ]:
Dataset=pd.read_excel("/content/drive/MyDrive/Student Marks.xlsx")

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,69,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN
5,206,Jyothi,89,89,82,69,89,86,NaN,=
6,207,Krishna,90,94,85,68,94,93,NaN,NaN
7,208,Raju,94,95,88,78,95,89,NaN,NaN
8,209,Suresh,95,96,99,91,96,98,NaN,NaN
9,214,Bhavya,69,92,93,82,92,96,NaN,NaN
10,210,Sandhya,78,87,87,83,87,87,NaN,NaN
11,211,Sameera,92,82,77,95,82,89,NaN,NaN
12,212,Santhosh,77,85,82,96,85,94,NaN,NaN
13,213,Anusri,92,88,86,87,88,95,NaN,NaN
14,214,Bhavya,69,92,93,82,92,96,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,87,NaN,NaN
16,217,Ravali,78,87,98,88,91,82,NaN,NaN
17,218,Meena,91,82,87,99,83,85,NaN,NaN
18,207,Krishna,90,94,85,68,94,93,NaN,NaN
19,219,Kalyan,83,85,89,87,87,88,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
21,220,Charan,87,88,94,73,89,92,NaN,NaN
22,221,Arjun,89,99,95,92,65,77,NaN,NaN
23,222,Niha,65,87,96,91,74,88,NaN,NaN
24,223,Neeraja,74,85,87,93,94,99,NaN,NaN
25,224,Devi,94,88,82,86,95,87,NaN,NaN
26,225,Bindu,95,99,85,93,96,86,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
28,227,Nandini,87,73,92,98,82,89,NaN,NaN
29,228,Syamala,82,92,77,87,85,98,NaN,NaN
30,229,Sumanth,85,91,82,89,88,87,NaN,NaN
31,230,Subhash,88,93,85,94,99,89,NaN,NaN
32,231,Devika,99,86,88,95,87,90,NaN,NaN
33,232,Isha,87,93,99,96,66,94,NaN,NaN
34,233,Apsara,73,89,87,87,88,95,NaN,NaN
35,234,Ankitha,66,94,85,82,77,78,NaN,NaN
36,235,Anuradha,84,95,88,85,99,92,NaN,NaN
37,236,Jeevana,85,78,99,88,59,77,NaN,NaN
38,237,Ganesh,96,92,87,92,60,92,NaN,NaN
39,238,Poorinima,92,77,73,77,56,69,NaN,NaN
40,239,Manjusha,91,90,92,97,70,68,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,78,NaN,NaN

In [ ]:
Dataset.head()

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,69,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN

In [ ]:
Dataset.head(2)

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,69,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN

In [ ]:
Dataset.head(7)

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,69,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN
5,206,Jyothi,89,89,82,69,89,86,NaN,=
6,207,Krishna,90,94,85,68,94,93,NaN,NaN

In [ ]:
Dataset.tail()

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
37,236,Jeevana,85,78,99,88,59,77,NaN,NaN
38,237,Ganesh,96,92,87,92,60,92,NaN,NaN
39,238,Poorinima,92,77,73,77,56,69,NaN,NaN
40,239,Manjusha,91,90,92,97,70,68,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,78,NaN,NaN

In [ ]:
Dataset.tail(10)

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
32,231,Devika,99,86,88,95,87,90,NaN,NaN
33,232,Isha,87,93,99,96,66,94,NaN,NaN
34,233,Apsara,73,89,87,87,88,95,NaN,NaN
35,234,Ankitha,66,94,85,82,77,78,NaN,NaN
36,235,Anuradha,84,95,88,85,99,92,NaN,NaN
37,236,Jeevana,85,78,99,88,59,77,NaN,NaN
38,237,Ganesh,96,92,87,92,60,92,NaN,NaN
39,238,Poorinima,92,77,73,77,56,69,NaN,NaN
40,239,Manjusha,91,90,92,97,70,68,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,78,NaN,NaN

In [ ]:
Dataset.describe()

,Roll No,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8
count,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,0.0
mean,220.285714,86.000000,88.309524,88.380952,86.523810,85.071429,87.619048,NaN
std,11.637378,9.268357,6.704524,6.072539,8.560368,10.979788,8.243112,NaN
min,201.000000,65.000000,68.000000,73.000000,68.000000,56.000000,68.000000,NaN
25%,210.250000,82.250000,86.000000,85.000000,82.000000,82.250000,86.000000,NaN
50%,220.500000,88.500000,88.500000,88.000000,88.000000,87.000000,89.000000,NaN
75%,229.750000,92.750000,93.000000,92.750000,92.750000,92.750000,93.000000,NaN
max,240.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,NaN

In [ ]:
Dataset.shape

(42, 10)

In [ ]:
Dataset[0:10:2]

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,69,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN
6,207,Krishna,90,94,85,68,94,93,NaN,NaN
8,209,Suresh,95,96,99,91,96,98,NaN,NaN

In [ ]:
Dataset["Machine Learning"]

0     95
1     78
2     92
3     77
4     92
5     69
6     68
7     78
8     91
9     82
10    83
11    95
12    96
13    87
14    82
15    85
16    88
17    99
18    68
19    87
20    89
21    73
22    92
23    91
24    93
25    86
26    93
27    89
28    98
29    87
30    89
31    94
32    95
33    96
34    87
35    82
36    85
37    88
38    92
39    77
40    97
41    69
Name: Machine Learning, dtype: int64

In [ ]:
Dataset[["Python","Data Science"]]

    Python  Data Science
0       91            86
1       83            93
2       95            89
3       96            98
4       87            87
5       82            89
6       85            94
7       88            95
8       99            96
9       93            92
10      87            87
11      77            82
12      82            85
13      86            88
14      93            92
15      89            77
16      98            91
17      87            83
18      85            94
19      89            87
20      88            87
21      94            89
22      95            65
23      96            74
24      87            94
25      82            95
26      85            96
27      88            87
28      92            82
29      77            85
30      82            88
31      85            99
32      88            87
33      99            66
34      87            88
35      85            77
36      88            99
37      99            59
38      87            60
39      73            56
40      92            70
41      91            85

In [ ]:
Dataset[["Python","Data Science","Artificial Intelligence"]][0:10:3]

   Python  Data Science  Artificial Intelligence
0      91            86                       69
3      96            98                       90
6      85            94                       93
9      93            92                       96

In [ ]:
for rec in Dataset.iterrows():
  print(rec)

(0, Roll No                     201
Name of the Student        Hema
C Language                   86
Java                         86
Python                       91
Machine Learning             95
Data Science                 86
Artificial Intelligence      69
Unnamed: 8                  NaN
Unnamed: 9                  NaN
Name: 0, dtype: object)
(1, Roll No                     202
Name of the Student        Hari
C Language                   93
Java                         93
Python                       83
Machine Learning             78
Data Science                 93
Artificial Intelligence      70
Unnamed: 8                  NaN
Unnamed: 9                  NaN
Name: 1, dtype: object)
(2, Roll No                    203
Name of the Student        Ram
C Language                  89
Java                        89
Python                      95
Machine Learning            92
Data Science                89
Artificial Intelligence     86
Unnamed: 8                 NaN
Unnamed: 9                 NaN
Name: 2, dtype: object)
(3, Roll No                      204
Name of the Student        Latha
C Language                    98
Java                          98
Python                        96
Machine Learning              77
Data Science                  98
Artificial Intelligence       90
Unnamed: 8                   NaN
Unnamed: 9                   NaN
Name: 3, dtype: object)
(4, Roll No                     205
Name of the Student        Rani
C Language                   87
Java                         87
Python                       87
Machine Learning             92
Data Science                 87
Artificial Intelligence      96
Unnamed: 8                  NaN
Unnamed: 9                  NaN
Name: 4, dtype: object)
(5, Roll No                       206
Name of the Student        Jyothi
C Language                     89
Java                           89
Python                         82
Machine Learning               69
Data Science                   89
Artificial Intelligence        86
Unnamed: 8                    NaN
Unnamed: 9                      =
Name: 5, dtype: object)
(6, Roll No                        207
Name of the Student        Krishna
C Language                      90
Java                            94
Python                          85
Machine Learning                68
Data Science                    94
Artificial Intelligence         93
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 6, dtype: object)
(7, Roll No                     208
Name of the Student        Raju
C Language                   94
Java                         95
Python                       88
Machine Learning             78
Data Science                 95
Artificial Intelligence      89
Unnamed: 8                  NaN
Unnamed: 9                  NaN
Name: 7, dtype: object)
(8, Roll No                       209
Name of the Student        Suresh
C Language                     95
Java                           96
Python                         99
Machine Learning               91
Data Science                   96
Artificial Intelligence        98
Unnamed: 8                    NaN
Unnamed: 9                    NaN
Name: 8, dtype: object)
(9, Roll No                       214
Name of the Student        Bhavya
C Language                     69
Java                           92
Python                         93
Machine Learning               82
Data Science                   92
Artificial Intelligence        96
Unnamed: 8                    NaN
Unnamed: 9                    NaN
Name: 9, dtype: object)
(10, Roll No                        210
Name of the Student        Sandhya
C Language                      78
Java                            87
Python                          87
Machine Learning                83
Data Science                    87
Artificial Intelligence         87
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 10, dtype: object)
(11, Roll No                        211
Name of the Student        Sameera
C Language                      92
Java                            82
Python                          77
Machine Learning                95
Data Science                    82
Artificial Intelligence         89
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 11, dtype: object)
(12, Roll No                         212
Name of the Student        Santhosh
C Language                       77
Java                             85
Python                           82
Machine Learning                 96
Data Science                     85
Artificial Intelligence          94
Unnamed: 8                      NaN
Unnamed: 9                      NaN
Name: 12, dtype: object)
(13, Roll No                       213
Name of the Student        Anusri
C Language                     92
Java                           88
Python                         86
Machine Learning               87
Data Science                   88
Artificial Intelligence        95
Unnamed: 8                    NaN
Unnamed: 9                    NaN
Name: 13, dtype: object)
(14, Roll No                       214
Name of the Student        Bhavya
C Language                     69
Java                           92
Python                         93
Machine Learning               82
Data Science                   92
Artificial Intelligence        96
Unnamed: 8                    NaN
Unnamed: 9                    NaN
Name: 14, dtype: object)
(15, Roll No                        216
Name of the Student        Lakshmi
C Language                      68
Java                            77
Python                          89
Machine Learning                85
Data Science                    77
Artificial Intelligence         87
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 15, dtype: object)
(16, Roll No                       217
Name of the Student        Ravali
C Language                     78
Java                           87
Python                         98
Machine Learning               88
Data Science                   91
Artificial Intelligence        82
Unnamed: 8                    NaN
Unnamed: 9                    NaN
Name: 16, dtype: object)
(17, Roll No                      218
Name of the Student        Meena
C Language                    91
Java                          82
Python                        87
Machine Learning              99
Data Science                  83
Artificial Intelligence       85
Unnamed: 8                   NaN
Unnamed: 9                   NaN
Name: 17, dtype: object)
(18, Roll No                        207
Name of the Student        Krishna
C Language                      90
Java                            94
Python                          85
Machine Learning                68
Data Science                    94
Artificial Intelligence         93
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 18, dtype: object)
(19, Roll No                       219
Name of the Student        Kalyan
C Language                     83
Java                           85
Python                         89
Machine Learning               87
Data Science                   87
Artificial Intelligence        88
Unnamed: 8                    NaN
Unnamed: 9                    NaN
Name: 19, dtype: object)
(20, Roll No                         226
Name of the Student        Bhargavi
C Language                       96
Java                             87
Python                           88
Machine Learning                 89
Data Science                     87
Artificial Intelligence          93
Unnamed: 8                      NaN
Unnamed: 9                      NaN
Name: 20, dtype: object)
(21, Roll No                       220
Name of the Student        Charan
C Language                     87
Java                           88
Python                         94
Machine Learning               73
Data Science                   89
Artificial Intelligence        92
Unnamed: 8                    NaN
Unnamed: 9                    NaN
Name: 21, dtype: object)
(22, Roll No                      221
Name of the Student        Arjun
C Language                    89
Java                          99
Python                        95
Machine Learning              92
Data Science                  65
Artificial Intelligence       77
Unnamed: 8                   NaN
Unnamed: 9                   NaN
Name: 22, dtype: object)
(23, Roll No                     222
Name of the Student        Niha
C Language                   65
Java                         87
Python                       96
Machine Learning             91
Data Science                 74
Artificial Intelligence      88
Unnamed: 8                  NaN
Unnamed: 9                  NaN
Name: 23, dtype: object)
(24, Roll No                        223
Name of the Student        Neeraja
C Language                      74
Java                            85
Python                          87
Machine Learning                93
Data Science                    94
Artificial Intelligence         99
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 24, dtype: object)
(25, Roll No                     224
Name of the Student        Devi
C Language                   94
Java                         88
Python                       82
Machine Learning             86
Data Science                 95
Artificial Intelligence      87
Unnamed: 8                  NaN
Unnamed: 9                  NaN
Name: 25, dtype: object)
(26, Roll No                      225
Name of the Student        Bindu
C Language                    95
Java                          99
Python                        85
Machine Learning              93
Data Science                  96
Artificial Intelligence       86
Unnamed: 8                   NaN
Unnamed: 9                   NaN
Name: 26, dtype: object)
(27, Roll No                         226
Name of the Student        Bhargavi
C Language                       96
Java                             87
Python                           88
Machine Learning                 89
Data Science                     87
Artificial Intelligence          93
Unnamed: 8                      NaN
Unnamed: 9                      NaN
Name: 27, dtype: object)
(28, Roll No                        227
Name of the Student        Nandini
C Language                      87
Java                            73
Python                          92
Machine Learning                98
Data Science                    82
Artificial Intelligence         89
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 28, dtype: object)
(29, Roll No                        228
Name of the Student        Syamala
C Language                      82
Java                            92
Python                          77
Machine Learning                87
Data Science                    85
Artificial Intelligence         98
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 29, dtype: object)
(30, Roll No                        229
Name of the Student        Sumanth
C Language                      85
Java                            91
Python                          82
Machine Learning                89
Data Science                    88
Artificial Intelligence         87
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 30, dtype: object)
(31, Roll No                        230
Name of the Student        Subhash
C Language                      88
Java                            93
Python                          85
Machine Learning                94
Data Science                    99
Artificial Intelligence         89
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 31, dtype: object)
(32, Roll No                       231
Name of the Student        Devika
C Language                     99
Java                           86
Python                         88
Machine Learning               95
Data Science                   87
Artificial Intelligence        90
Unnamed: 8                    NaN
Unnamed: 9                    NaN
Name: 32, dtype: object)
(33, Roll No                     232
Name of the Student        Isha
C Language                   87
Java                         93
Python                       99
Machine Learning             96
Data Science                 66
Artificial Intelligence      94
Unnamed: 8                  NaN
Unnamed: 9                  NaN
Name: 33, dtype: object)
(34, Roll No                       233
Name of the Student        Apsara
C Language                     73
Java                           89
Python                         87
Machine Learning               87
Data Science                   88
Artificial Intelligence        95
Unnamed: 8                    NaN
Unnamed: 9                    NaN
Name: 34, dtype: object)
(35, Roll No                        234
Name of the Student        Ankitha
C Language                      66
Java                            94
Python                          85
Machine Learning                82
Data Science                    77
Artificial Intelligence         78
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 35, dtype: object)
(36, Roll No                         235
Name of the Student        Anuradha
C Language                       84
Java                             95
Python                           88
Machine Learning                 85
Data Science                     99
Artificial Intelligence          92
Unnamed: 8                      NaN
Unnamed: 9                      NaN
Name: 36, dtype: object)
(37, Roll No                        236
Name of the Student        Jeevana
C Language                      85
Java                            78
Python                          99
Machine Learning                88
Data Science                    59
Artificial Intelligence         77
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 37, dtype: object)
(38, Roll No                       237
Name of the Student        Ganesh
C Language                     96
Java                           92
Python                         87
Machine Learning               92
Data Science                   60
Artificial Intelligence        92
Unnamed: 8                    NaN
Unnamed: 9                    NaN
Name: 38, dtype: object)
(39, Roll No                          238
Name of the Student        Poorinima
C Language                        92
Java                              77
Python                            73
Machine Learning                  77
Data Science                      56
Artificial Intelligence           69
Unnamed: 8                       NaN
Unnamed: 9                       NaN
Name: 39, dtype: object)
(40, Roll No                         239
Name of the Student        Manjusha
C Language                       91
Java                             90
Python                           92
Machine Learning                 97
Data Science                     70
Artificial Intelligence          68
Unnamed: 8                      NaN
Unnamed: 9                      NaN
Name: 40, dtype: object)
(41, Roll No                         240
Name of the Student        Nikhitha
C Language                       93
Java                             68
Python                           91
Machine Learning                 69
Data Science                     85
Artificial Intelligence          78
Unnamed: 8                      NaN
Unnamed: 9                      NaN
Name: 41, dtype: object)

In [ ]:
Dataset.loc[1]

Roll No                     202
Name of the Student        Hari
C Language                   93
Java                         93
Python                       83
Machine Learning             78
Data Science                 93
Artificial Intelligence      70
Unnamed: 8                  NaN
Unnamed: 9                  NaN
Name: 1, dtype: object

In [ ]:
Dataset.loc[15]

Roll No                        216
Name of the Student        Lakshmi
C Language                      68
Java                            77
Python                          89
Machine Learning                85
Data Science                    77
Artificial Intelligence         87
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 15, dtype: object

In [ ]:
Dataset.loc[29]

Roll No                        228
Name of the Student        Syamala
C Language                      82
Java                            92
Python                          77
Machine Learning                87
Data Science                    85
Artificial Intelligence         98
Unnamed: 8                     NaN
Unnamed: 9                     NaN
Name: 29, dtype: object

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,69,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN
5,206,Jyothi,89,89,82,69,89,86,NaN,=
6,207,Krishna,90,94,85,68,94,93,NaN,NaN
7,208,Raju,94,95,88,78,95,89,NaN,NaN
8,209,Suresh,95,96,99,91,96,98,NaN,NaN
9,214,Bhavya,69,92,93,82,92,96,NaN,NaN
10,210,Sandhya,78,87,87,83,87,87,NaN,NaN
11,211,Sameera,92,82,77,95,82,89,NaN,NaN
12,212,Santhosh,77,85,82,96,85,94,NaN,NaN
13,213,Anusri,92,88,86,87,88,95,NaN,NaN
14,214,Bhavya,69,92,93,82,92,96,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,87,NaN,NaN
16,217,Ravali,78,87,98,88,91,82,NaN,NaN
17,218,Meena,91,82,87,99,83,85,NaN,NaN
18,207,Krishna,90,94,85,68,94,93,NaN,NaN
19,219,Kalyan,83,85,89,87,87,88,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
21,220,Charan,87,88,94,73,89,92,NaN,NaN
22,221,Arjun,89,99,95,92,65,77,NaN,NaN
23,222,Niha,65,87,96,91,74,88,NaN,NaN
24,223,Neeraja,74,85,87,93,94,99,NaN,NaN
25,224,Devi,94,88,82,86,95,87,NaN,NaN
26,225,Bindu,95,99,85,93,96,86,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
28,227,Nandini,87,73,92,98,82,89,NaN,NaN
29,228,Syamala,82,92,77,87,85,98,NaN,NaN
30,229,Sumanth,85,91,82,89,88,87,NaN,NaN
31,230,Subhash,88,93,85,94,99,89,NaN,NaN
32,231,Devika,99,86,88,95,87,90,NaN,NaN
33,232,Isha,87,93,99,96,66,94,NaN,NaN
34,233,Apsara,73,89,87,87,88,95,NaN,NaN
35,234,Ankitha,66,94,85,82,77,78,NaN,NaN
36,235,Anuradha,84,95,88,85,99,92,NaN,NaN
37,236,Jeevana,85,78,99,88,59,77,NaN,NaN
38,237,Ganesh,96,92,87,92,60,92,NaN,NaN
39,238,Poorinima,92,77,73,77,56,69,NaN,NaN
40,239,Manjusha,91,90,92,97,70,68,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,78,NaN,NaN

In [ ]:
Dataset.loc[19,["Data Science"]]

Data Science    87
Name: 19, dtype: object

In [ ]:
Dataset.loc[10,["Python","Data Science","Artificial Intelligence"]]

Python                     87
Data Science               87
Artificial Intelligence    87
Name: 10, dtype: object

In [ ]:
Dataset.loc[0:10]

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,69,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN
5,206,Jyothi,89,89,82,69,89,86,NaN,=
6,207,Krishna,90,94,85,68,94,93,NaN,NaN
7,208,Raju,94,95,88,78,95,89,NaN,NaN
8,209,Suresh,95,96,99,91,96,98,NaN,NaN
9,214,Bhavya,69,92,93,82,92,96,NaN,NaN
10,210,Sandhya,78,87,87,83,87,87,NaN,NaN

In [ ]:
Dataset.iloc[0:10]

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,69,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN
5,206,Jyothi,89,89,82,69,89,86,NaN,=
6,207,Krishna,90,94,85,68,94,93,NaN,NaN
7,208,Raju,94,95,88,78,95,89,NaN,NaN
8,209,Suresh,95,96,99,91,96,98,NaN,NaN
9,214,Bhavya,69,92,93,82,92,96,NaN,NaN

In [ ]:
Dataset.loc[0:15,"C Language"]

0     86
1     93
2     89
3     98
4     87
5     89
6     90
7     94
8     95
9     69
10    78
11    92
12    77
13    92
14    69
15    68
Name: C Language, dtype: int64

In [ ]:
Dataset.loc[19:38,"Java"]

19    85
20    87
21    88
22    99
23    87
24    85
25    88
26    99
27    87
28    73
29    92
30    91
31    93
32    86
33    93
34    89
35    94
36    95
37    78
38    92
Name: Java, dtype: int64

In [ ]:
Dataset.loc[0:5,["Machine Learning","Python"]]

   Machine Learning  Python
0                95      91
1                78      83
2                92      95
3                77      96
4                92      87
5                69      82

In [ ]:
Dataset.head()

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,69,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN

In [ ]:
Dataset.iloc[0:5]

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,69,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN

In [ ]:
Dataset.iloc[2,0]

203

In [ ]:
Dataset.iloc[0:5,0:7]

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science
0,201,Hema,86,86,91,95,86
1,202,Hari,93,93,83,78,93
2,203,Ram,89,89,95,92,89
3,204,Latha,98,98,96,77,98
4,205,Rani,87,87,87,92,87

In [ ]:
Dataset.iloc[0:5,1]

0     Hema
1     Hari
2      Ram
3    Latha
4     Rani
Name: Name of the Student, dtype: object

In [ ]:
Dataset.iloc[[4,6,13,23]]

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
4,205,Rani,87,87,87,92,87,96,NaN,NaN
6,207,Krishna,90,94,85,68,94,93,NaN,NaN
13,213,Anusri,92,88,86,87,88,95,NaN,NaN
23,222,Niha,65,87,96,91,74,88,NaN,NaN

In [ ]:
Dataset.loc[:,["Data Science"]]

    Data Science
0             86
1             93
2             89
3             98
4             87
5             89
6             94
7             95
8             96
9             92
10            87
11            82
12            85
13            88
14            92
15            77
16            91
17            83
18            94
19            87
20            87
21            89
22            65
23            74
24            94
25            95
26            96
27            87
28            82
29            85
30            88
31            99
32            87
33            66
34            88
35            77
36            99
37            59
38            60
39            56
40            70
41            85

In [ ]:
Dataset.iloc[:,[1,3,5]]

   Name of the Student  Java  Machine Learning
0                 Hema    86                95
1                 Hari    93                78
2                  Ram    89                92
3                Latha    98                77
4                 Rani    87                92
5               Jyothi    89                69
6              Krishna    94                68
7                 Raju    95                78
8               Suresh    96                91
9               Bhavya    92                82
10             Sandhya    87                83
11             Sameera    82                95
12            Santhosh    85                96
13              Anusri    88                87
14              Bhavya    92                82
15             Lakshmi    77                85
16              Ravali    87                88
17               Meena    82                99
18             Krishna    94                68
19              Kalyan    85                87
20            Bhargavi    87                89
21              Charan    88                73
22               Arjun    99                92
23                Niha    87                91
24             Neeraja    85                93
25                Devi    88                86
26               Bindu    99                93
27            Bhargavi    87                89
28             Nandini    73                98
29             Syamala    92                87
30             Sumanth    91                89
31             Subhash    93                94
32              Devika    86                95
33                Isha    93                96
34              Apsara    89                87
35             Ankitha    94                82
36            Anuradha    95                85
37             Jeevana    78                88
38              Ganesh    92                92
39           Poorinima    77                77
40            Manjusha    90                97
41            Nikhitha    68                69

In [ ]:
Dataset.iloc[0:3,[1,2,5]]

  Name of the Student  C Language  Machine Learning
0                Hema          86                95
1                Hari          93                78
2                 Ram          89                92

In [ ]:
Dataset.iloc[0:8,[1,2,5]]

  Name of the Student  C Language  Machine Learning
0                Hema          86                95
1                Hari          93                78
2                 Ram          89                92
3               Latha          98                77
4                Rani          87                92
5              Jyothi          89                69
6             Krishna          90                68
7                Raju          94                78

In [ ]:
Dataset.iloc[1:20,[1,2,5]]

   Name of the Student  C Language  Machine Learning
1                 Hari          93                78
2                  Ram          89                92
3                Latha          98                77
4                 Rani          87                92
5               Jyothi          89                69
6              Krishna          90                68
7                 Raju          94                78
8               Suresh          95                91
9               Bhavya          69                82
10             Sandhya          78                83
11             Sameera          92                95
12            Santhosh          77                96
13              Anusri          92                87
14              Bhavya          69                82
15             Lakshmi          68                85
16              Ravali          78                88
17               Meena          91                99
18             Krishna          90                68
19              Kalyan          83                87

In [ ]:
Dataset.iloc[[1,2,5],[1,2,5]]

  Name of the Student  C Language  Machine Learning
1                Hari          93                78
2                 Ram          89                92
5              Jyothi          89                69

In [ ]:
Dataset.iloc[[21,29,32],[2,3,7]]

    C Language  Java  Artificial Intelligence
21          87    88                       92
29          82    92                       98
32          99    86                       90

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,69,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN
5,206,Jyothi,89,89,82,69,89,86,NaN,=
6,207,Krishna,90,94,85,68,94,93,NaN,NaN
7,208,Raju,94,95,88,78,95,89,NaN,NaN
8,209,Suresh,95,96,99,91,96,98,NaN,NaN
9,214,Bhavya,69,92,93,82,92,96,NaN,NaN
10,210,Sandhya,78,87,87,83,87,87,NaN,NaN
11,211,Sameera,92,82,77,95,82,89,NaN,NaN
12,212,Santhosh,77,85,82,96,85,94,NaN,NaN
13,213,Anusri,92,88,86,87,88,95,NaN,NaN
14,214,Bhavya,69,92,93,82,92,96,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,87,NaN,NaN
16,217,Ravali,78,87,98,88,91,82,NaN,NaN
17,218,Meena,91,82,87,99,83,85,NaN,NaN
18,207,Krishna,90,94,85,68,94,93,NaN,NaN
19,219,Kalyan,83,85,89,87,87,88,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
21,220,Charan,87,88,94,73,89,92,NaN,NaN
22,221,Arjun,89,99,95,92,65,77,NaN,NaN
23,222,Niha,65,87,96,91,74,88,NaN,NaN
24,223,Neeraja,74,85,87,93,94,99,NaN,NaN
25,224,Devi,94,88,82,86,95,87,NaN,NaN
26,225,Bindu,95,99,85,93,96,86,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
28,227,Nandini,87,73,92,98,82,89,NaN,NaN
29,228,Syamala,82,92,77,87,85,98,NaN,NaN
30,229,Sumanth,85,91,82,89,88,87,NaN,NaN
31,230,Subhash,88,93,85,94,99,89,NaN,NaN
32,231,Devika,99,86,88,95,87,90,NaN,NaN
33,232,Isha,87,93,99,96,66,94,NaN,NaN
34,233,Apsara,73,89,87,87,88,95,NaN,NaN
35,234,Ankitha,66,94,85,82,77,78,NaN,NaN
36,235,Anuradha,84,95,88,85,99,92,NaN,NaN
37,236,Jeevana,85,78,99,88,59,77,NaN,NaN
38,237,Ganesh,96,92,87,92,60,92,NaN,NaN
39,238,Poorinima,92,77,73,77,56,69,NaN,NaN
40,239,Manjusha,91,90,92,97,70,68,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,78,NaN,NaN

In [ ]:
Dataset.sort_values("Python")

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
39,238,Poorinima,92,77,73,77,56,69,NaN,NaN
29,228,Syamala,82,92,77,87,85,98,NaN,NaN
11,211,Sameera,92,82,77,95,82,89,NaN,NaN
30,229,Sumanth,85,91,82,89,88,87,NaN,NaN
5,206,Jyothi,89,89,82,69,89,86,NaN,=
25,224,Devi,94,88,82,86,95,87,NaN,NaN
12,212,Santhosh,77,85,82,96,85,94,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
26,225,Bindu,95,99,85,93,96,86,NaN,NaN
6,207,Krishna,90,94,85,68,94,93,NaN,NaN
31,230,Subhash,88,93,85,94,99,89,NaN,NaN
18,207,Krishna,90,94,85,68,94,93,NaN,NaN
35,234,Ankitha,66,94,85,82,77,78,NaN,NaN
13,213,Anusri,92,88,86,87,88,95,NaN,NaN
34,233,Apsara,73,89,87,87,88,95,NaN,NaN
17,218,Meena,91,82,87,99,83,85,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN
38,237,Ganesh,96,92,87,92,60,92,NaN,NaN
24,223,Neeraja,74,85,87,93,94,99,NaN,NaN
10,210,Sandhya,78,87,87,83,87,87,NaN,NaN
32,231,Devika,99,86,88,95,87,90,NaN,NaN
36,235,Anuradha,84,95,88,85,99,92,NaN,NaN
7,208,Raju,94,95,88,78,95,89,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,87,NaN,NaN
19,219,Kalyan,83,85,89,87,87,88,NaN,NaN
0,201,Hema,86,86,91,95,86,69,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,78,NaN,NaN
28,227,Nandini,87,73,92,98,82,89,NaN,NaN
40,239,Manjusha,91,90,92,97,70,68,NaN,NaN
14,214,Bhavya,69,92,93,82,92,96,NaN,NaN
9,214,Bhavya,69,92,93,82,92,96,NaN,NaN
21,220,Charan,87,88,94,73,89,92,NaN,NaN
22,221,Arjun,89,99,95,92,65,77,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
23,222,Niha,65,87,96,91,74,88,NaN,NaN
16,217,Ravali,78,87,98,88,91,82,NaN,NaN
33,232,Isha,87,93,99,96,66,94,NaN,NaN
8,209,Suresh,95,96,99,91,96,98,NaN,NaN
37,236,Jeevana,85,78,99,88,59,77,NaN,NaN

In [ ]:
Dataset.sort_values("Python",ascending=False)

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
37,236,Jeevana,85,78,99,88,59,77,NaN,NaN
33,232,Isha,87,93,99,96,66,94,NaN,NaN
8,209,Suresh,95,96,99,91,96,98,NaN,NaN
16,217,Ravali,78,87,98,88,91,82,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
23,222,Niha,65,87,96,91,74,88,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
22,221,Arjun,89,99,95,92,65,77,NaN,NaN
21,220,Charan,87,88,94,73,89,92,NaN,NaN
14,214,Bhavya,69,92,93,82,92,96,NaN,NaN
9,214,Bhavya,69,92,93,82,92,96,NaN,NaN
40,239,Manjusha,91,90,92,97,70,68,NaN,NaN
28,227,Nandini,87,73,92,98,82,89,NaN,NaN
0,201,Hema,86,86,91,95,86,69,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,78,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,87,NaN,NaN
19,219,Kalyan,83,85,89,87,87,88,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
36,235,Anuradha,84,95,88,85,99,92,NaN,NaN
32,231,Devika,99,86,88,95,87,90,NaN,NaN
7,208,Raju,94,95,88,78,95,89,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
17,218,Meena,91,82,87,99,83,85,NaN,NaN
10,210,Sandhya,78,87,87,83,87,87,NaN,NaN
24,223,Neeraja,74,85,87,93,94,99,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN
38,237,Ganesh,96,92,87,92,60,92,NaN,NaN
34,233,Apsara,73,89,87,87,88,95,NaN,NaN
13,213,Anusri,92,88,86,87,88,95,NaN,NaN
35,234,Ankitha,66,94,85,82,77,78,NaN,NaN
6,207,Krishna,90,94,85,68,94,93,NaN,NaN
31,230,Subhash,88,93,85,94,99,89,NaN,NaN
18,207,Krishna,90,94,85,68,94,93,NaN,NaN
26,225,Bindu,95,99,85,93,96,86,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
30,229,Sumanth,85,91,82,89,88,87,NaN,NaN
12,212,Santhosh,77,85,82,96,85,94,NaN,NaN
5,206,Jyothi,89,89,82,69,89,86,NaN,=
25,224,Devi,94,88,82,86,95,87,NaN,NaN
11,211,Sameera,92,82,77,95,82,89,NaN,NaN
29,228,Syamala,82,92,77,87,85,98,NaN,NaN
39,238,Poorinima,92,77,73,77,56,69,NaN,NaN

In [ ]:
Dataset.sort_values(["Java","C Language"])

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
41,240,Nikhitha,93,68,91,69,85,78,NaN,NaN
28,227,Nandini,87,73,92,98,82,89,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,87,NaN,NaN
39,238,Poorinima,92,77,73,77,56,69,NaN,NaN
37,236,Jeevana,85,78,99,88,59,77,NaN,NaN
17,218,Meena,91,82,87,99,83,85,NaN,NaN
11,211,Sameera,92,82,77,95,82,89,NaN,NaN
24,223,Neeraja,74,85,87,93,94,99,NaN,NaN
12,212,Santhosh,77,85,82,96,85,94,NaN,NaN
19,219,Kalyan,83,85,89,87,87,88,NaN,NaN
0,201,Hema,86,86,91,95,86,69,NaN,NaN
32,231,Devika,99,86,88,95,87,90,NaN,NaN
23,222,Niha,65,87,96,91,74,88,NaN,NaN
10,210,Sandhya,78,87,87,83,87,87,NaN,NaN
16,217,Ravali,78,87,98,88,91,82,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
21,220,Charan,87,88,94,73,89,92,NaN,NaN
13,213,Anusri,92,88,86,87,88,95,NaN,NaN
25,224,Devi,94,88,82,86,95,87,NaN,NaN
34,233,Apsara,73,89,87,87,88,95,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
5,206,Jyothi,89,89,82,69,89,86,NaN,=
40,239,Manjusha,91,90,92,97,70,68,NaN,NaN
30,229,Sumanth,85,91,82,89,88,87,NaN,NaN
9,214,Bhavya,69,92,93,82,92,96,NaN,NaN
14,214,Bhavya,69,92,93,82,92,96,NaN,NaN
29,228,Syamala,82,92,77,87,85,98,NaN,NaN
38,237,Ganesh,96,92,87,92,60,92,NaN,NaN
33,232,Isha,87,93,99,96,66,94,NaN,NaN
31,230,Subhash,88,93,85,94,99,89,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
35,234,Ankitha,66,94,85,82,77,78,NaN,NaN
6,207,Krishna,90,94,85,68,94,93,NaN,NaN
18,207,Krishna,90,94,85,68,94,93,NaN,NaN
36,235,Anuradha,84,95,88,85,99,92,NaN,NaN
7,208,Raju,94,95,88,78,95,89,NaN,NaN
8,209,Suresh,95,96,99,91,96,98,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
22,221,Arjun,89,99,95,92,65,77,NaN,NaN
26,225,Bindu,95,99,85,93,96,86,NaN,NaN

In [ ]:
Dataset.sort_values(["Artificial Intelligence","Machine Learning"])

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
40,239,Manjusha,91,90,92,97,70,68,NaN,NaN
39,238,Poorinima,92,77,73,77,56,69,NaN,NaN
0,201,Hema,86,86,91,95,86,69,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
37,236,Jeevana,85,78,99,88,59,77,NaN,NaN
22,221,Arjun,89,99,95,92,65,77,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,78,NaN,NaN
35,234,Ankitha,66,94,85,82,77,78,NaN,NaN
16,217,Ravali,78,87,98,88,91,82,NaN,NaN
17,218,Meena,91,82,87,99,83,85,NaN,NaN
5,206,Jyothi,89,89,82,69,89,86,NaN,=
2,203,Ram,89,89,95,92,89,86,NaN,NaN
26,225,Bindu,95,99,85,93,96,86,NaN,NaN
10,210,Sandhya,78,87,87,83,87,87,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,87,NaN,NaN
25,224,Devi,94,88,82,86,95,87,NaN,NaN
30,229,Sumanth,85,91,82,89,88,87,NaN,NaN
19,219,Kalyan,83,85,89,87,87,88,NaN,NaN
23,222,Niha,65,87,96,91,74,88,NaN,NaN
7,208,Raju,94,95,88,78,95,89,NaN,NaN
31,230,Subhash,88,93,85,94,99,89,NaN,NaN
11,211,Sameera,92,82,77,95,82,89,NaN,NaN
28,227,Nandini,87,73,92,98,82,89,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
32,231,Devika,99,86,88,95,87,90,NaN,NaN
21,220,Charan,87,88,94,73,89,92,NaN,NaN
36,235,Anuradha,84,95,88,85,99,92,NaN,NaN
38,237,Ganesh,96,92,87,92,60,92,NaN,NaN
6,207,Krishna,90,94,85,68,94,93,NaN,NaN
18,207,Krishna,90,94,85,68,94,93,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
12,212,Santhosh,77,85,82,96,85,94,NaN,NaN
33,232,Isha,87,93,99,96,66,94,NaN,NaN
13,213,Anusri,92,88,86,87,88,95,NaN,NaN
34,233,Apsara,73,89,87,87,88,95,NaN,NaN
9,214,Bhavya,69,92,93,82,92,96,NaN,NaN
14,214,Bhavya,69,92,93,82,92,96,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN
29,228,Syamala,82,92,77,87,85,98,NaN,NaN
8,209,Suresh,95,96,99,91,96,98,NaN,NaN
24,223,Neeraja,74,85,87,93,94,99,NaN,NaN

* We can manipulate the data either adding or deleƟng column values.

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,69,NaN,NaN
1,202,Hari,93,93,83,78,93,70,NaN,NaN
2,203,Ram,89,89,95,92,89,86,NaN,NaN
3,204,Latha,98,98,96,77,98,90,NaN,NaN
4,205,Rani,87,87,87,92,87,96,NaN,NaN
5,206,Jyothi,89,89,82,69,89,86,NaN,=
6,207,Krishna,90,94,85,68,94,93,NaN,NaN
7,208,Raju,94,95,88,78,95,89,NaN,NaN
8,209,Suresh,95,96,99,91,96,98,NaN,NaN
9,214,Bhavya,69,92,93,82,92,96,NaN,NaN
10,210,Sandhya,78,87,87,83,87,87,NaN,NaN
11,211,Sameera,92,82,77,95,82,89,NaN,NaN
12,212,Santhosh,77,85,82,96,85,94,NaN,NaN
13,213,Anusri,92,88,86,87,88,95,NaN,NaN
14,214,Bhavya,69,92,93,82,92,96,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,87,NaN,NaN
16,217,Ravali,78,87,98,88,91,82,NaN,NaN
17,218,Meena,91,82,87,99,83,85,NaN,NaN
18,207,Krishna,90,94,85,68,94,93,NaN,NaN
19,219,Kalyan,83,85,89,87,87,88,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
21,220,Charan,87,88,94,73,89,92,NaN,NaN
22,221,Arjun,89,99,95,92,65,77,NaN,NaN
23,222,Niha,65,87,96,91,74,88,NaN,NaN
24,223,Neeraja,74,85,87,93,94,99,NaN,NaN
25,224,Devi,94,88,82,86,95,87,NaN,NaN
26,225,Bindu,95,99,85,93,96,86,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,93,NaN,NaN
28,227,Nandini,87,73,92,98,82,89,NaN,NaN
29,228,Syamala,82,92,77,87,85,98,NaN,NaN
30,229,Sumanth,85,91,82,89,88,87,NaN,NaN
31,230,Subhash,88,93,85,94,99,89,NaN,NaN
32,231,Devika,99,86,88,95,87,90,NaN,NaN
33,232,Isha,87,93,99,96,66,94,NaN,NaN
34,233,Apsara,73,89,87,87,88,95,NaN,NaN
35,234,Ankitha,66,94,85,82,77,78,NaN,NaN
36,235,Anuradha,84,95,88,85,99,92,NaN,NaN
37,236,Jeevana,85,78,99,88,59,77,NaN,NaN
38,237,Ganesh,96,92,87,92,60,92,NaN,NaN
39,238,Poorinima,92,77,73,77,56,69,NaN,NaN
40,239,Manjusha,91,90,92,97,70,68,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,78,NaN,NaN

In [ ]:
Dataset["Artificial Intelligence"]=0

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,0,NaN,NaN
1,202,Hari,93,93,83,78,93,0,NaN,NaN
2,203,Ram,89,89,95,92,89,0,NaN,NaN
3,204,Latha,98,98,96,77,98,0,NaN,NaN
4,205,Rani,87,87,87,92,87,0,NaN,NaN
5,206,Jyothi,89,89,82,69,89,0,NaN,=
6,207,Krishna,90,94,85,68,94,0,NaN,NaN
7,208,Raju,94,95,88,78,95,0,NaN,NaN
8,209,Suresh,95,96,99,91,96,0,NaN,NaN
9,214,Bhavya,69,92,93,82,92,0,NaN,NaN
10,210,Sandhya,78,87,87,83,87,0,NaN,NaN
11,211,Sameera,92,82,77,95,82,0,NaN,NaN
12,212,Santhosh,77,85,82,96,85,0,NaN,NaN
13,213,Anusri,92,88,86,87,88,0,NaN,NaN
14,214,Bhavya,69,92,93,82,92,0,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,0,NaN,NaN
16,217,Ravali,78,87,98,88,91,0,NaN,NaN
17,218,Meena,91,82,87,99,83,0,NaN,NaN
18,207,Krishna,90,94,85,68,94,0,NaN,NaN
19,219,Kalyan,83,85,89,87,87,0,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,0,NaN,NaN
21,220,Charan,87,88,94,73,89,0,NaN,NaN
22,221,Arjun,89,99,95,92,65,0,NaN,NaN
23,222,Niha,65,87,96,91,74,0,NaN,NaN
24,223,Neeraja,74,85,87,93,94,0,NaN,NaN
25,224,Devi,94,88,82,86,95,0,NaN,NaN
26,225,Bindu,95,99,85,93,96,0,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,0,NaN,NaN
28,227,Nandini,87,73,92,98,82,0,NaN,NaN
29,228,Syamala,82,92,77,87,85,0,NaN,NaN
30,229,Sumanth,85,91,82,89,88,0,NaN,NaN
31,230,Subhash,88,93,85,94,99,0,NaN,NaN
32,231,Devika,99,86,88,95,87,0,NaN,NaN
33,232,Isha,87,93,99,96,66,0,NaN,NaN
34,233,Apsara,73,89,87,87,88,0,NaN,NaN
35,234,Ankitha,66,94,85,82,77,0,NaN,NaN
36,235,Anuradha,84,95,88,85,99,0,NaN,NaN
37,236,Jeevana,85,78,99,88,59,0,NaN,NaN
38,237,Ganesh,96,92,87,92,60,0,NaN,NaN
39,238,Poorinima,92,77,73,77,56,0,NaN,NaN
40,239,Manjusha,91,90,92,97,70,0,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,0,NaN,NaN

In [ ]:
Dataset["Artificial Intelligence"]=Dataset["C Language"]+Dataset["Python"]+Dataset["Java"]

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,263,NaN,NaN
1,202,Hari,93,93,83,78,93,269,NaN,NaN
2,203,Ram,89,89,95,92,89,273,NaN,NaN
3,204,Latha,98,98,96,77,98,292,NaN,NaN
4,205,Rani,87,87,87,92,87,261,NaN,NaN
5,206,Jyothi,89,89,82,69,89,260,NaN,=
6,207,Krishna,90,94,85,68,94,269,NaN,NaN
7,208,Raju,94,95,88,78,95,277,NaN,NaN
8,209,Suresh,95,96,99,91,96,290,NaN,NaN
9,214,Bhavya,69,92,93,82,92,254,NaN,NaN
10,210,Sandhya,78,87,87,83,87,252,NaN,NaN
11,211,Sameera,92,82,77,95,82,251,NaN,NaN
12,212,Santhosh,77,85,82,96,85,244,NaN,NaN
13,213,Anusri,92,88,86,87,88,266,NaN,NaN
14,214,Bhavya,69,92,93,82,92,254,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,234,NaN,NaN
16,217,Ravali,78,87,98,88,91,263,NaN,NaN
17,218,Meena,91,82,87,99,83,260,NaN,NaN
18,207,Krishna,90,94,85,68,94,269,NaN,NaN
19,219,Kalyan,83,85,89,87,87,257,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,271,NaN,NaN
21,220,Charan,87,88,94,73,89,269,NaN,NaN
22,221,Arjun,89,99,95,92,65,283,NaN,NaN
23,222,Niha,65,87,96,91,74,248,NaN,NaN
24,223,Neeraja,74,85,87,93,94,246,NaN,NaN
25,224,Devi,94,88,82,86,95,264,NaN,NaN
26,225,Bindu,95,99,85,93,96,279,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,271,NaN,NaN
28,227,Nandini,87,73,92,98,82,252,NaN,NaN
29,228,Syamala,82,92,77,87,85,251,NaN,NaN
30,229,Sumanth,85,91,82,89,88,258,NaN,NaN
31,230,Subhash,88,93,85,94,99,266,NaN,NaN
32,231,Devika,99,86,88,95,87,273,NaN,NaN
33,232,Isha,87,93,99,96,66,279,NaN,NaN
34,233,Apsara,73,89,87,87,88,249,NaN,NaN
35,234,Ankitha,66,94,85,82,77,245,NaN,NaN
36,235,Anuradha,84,95,88,85,99,267,NaN,NaN
37,236,Jeevana,85,78,99,88,59,262,NaN,NaN
38,237,Ganesh,96,92,87,92,60,275,NaN,NaN
39,238,Poorinima,92,77,73,77,56,242,NaN,NaN
40,239,Manjusha,91,90,92,97,70,273,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,252,NaN,NaN

In [ ]:
Dataset["Artificial Intelligence"]="orange/apple"

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,orange/apple,NaN,NaN
1,202,Hari,93,93,83,78,93,orange/apple,NaN,NaN
2,203,Ram,89,89,95,92,89,orange/apple,NaN,NaN
3,204,Latha,98,98,96,77,98,orange/apple,NaN,NaN
4,205,Rani,87,87,87,92,87,orange/apple,NaN,NaN
5,206,Jyothi,89,89,82,69,89,orange/apple,NaN,=
6,207,Krishna,90,94,85,68,94,orange/apple,NaN,NaN
7,208,Raju,94,95,88,78,95,orange/apple,NaN,NaN
8,209,Suresh,95,96,99,91,96,orange/apple,NaN,NaN
9,214,Bhavya,69,92,93,82,92,orange/apple,NaN,NaN
10,210,Sandhya,78,87,87,83,87,orange/apple,NaN,NaN
11,211,Sameera,92,82,77,95,82,orange/apple,NaN,NaN
12,212,Santhosh,77,85,82,96,85,orange/apple,NaN,NaN
13,213,Anusri,92,88,86,87,88,orange/apple,NaN,NaN
14,214,Bhavya,69,92,93,82,92,orange/apple,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,orange/apple,NaN,NaN
16,217,Ravali,78,87,98,88,91,orange/apple,NaN,NaN
17,218,Meena,91,82,87,99,83,orange/apple,NaN,NaN
18,207,Krishna,90,94,85,68,94,orange/apple,NaN,NaN
19,219,Kalyan,83,85,89,87,87,orange/apple,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,orange/apple,NaN,NaN
21,220,Charan,87,88,94,73,89,orange/apple,NaN,NaN
22,221,Arjun,89,99,95,92,65,orange/apple,NaN,NaN
23,222,Niha,65,87,96,91,74,orange/apple,NaN,NaN
24,223,Neeraja,74,85,87,93,94,orange/apple,NaN,NaN
25,224,Devi,94,88,82,86,95,orange/apple,NaN,NaN
26,225,Bindu,95,99,85,93,96,orange/apple,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,orange/apple,NaN,NaN
28,227,Nandini,87,73,92,98,82,orange/apple,NaN,NaN
29,228,Syamala,82,92,77,87,85,orange/apple,NaN,NaN
30,229,Sumanth,85,91,82,89,88,orange/apple,NaN,NaN
31,230,Subhash,88,93,85,94,99,orange/apple,NaN,NaN
32,231,Devika,99,86,88,95,87,orange/apple,NaN,NaN
33,232,Isha,87,93,99,96,66,orange/apple,NaN,NaN
34,233,Apsara,73,89,87,87,88,orange/apple,NaN,NaN
35,234,Ankitha,66,94,85,82,77,orange/apple,NaN,NaN
36,235,Anuradha,84,95,88,85,99,orange/apple,NaN,NaN
37,236,Jeevana,85,78,99,88,59,orange/apple,NaN,NaN
38,237,Ganesh,96,92,87,92,60,orange/apple,NaN,NaN
39,238,Poorinima,92,77,73,77,56,orange/apple,NaN,NaN
40,239,Manjusha,91,90,92,97,70,orange/apple,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,orange/apple,NaN,NaN

In [ ]:
Dataset.drop(columns="Artificial Intelligence")

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,NaN,NaN
1,202,Hari,93,93,83,78,93,NaN,NaN
2,203,Ram,89,89,95,92,89,NaN,NaN
3,204,Latha,98,98,96,77,98,NaN,NaN
4,205,Rani,87,87,87,92,87,NaN,NaN
5,206,Jyothi,89,89,82,69,89,NaN,=
6,207,Krishna,90,94,85,68,94,NaN,NaN
7,208,Raju,94,95,88,78,95,NaN,NaN
8,209,Suresh,95,96,99,91,96,NaN,NaN
9,214,Bhavya,69,92,93,82,92,NaN,NaN
10,210,Sandhya,78,87,87,83,87,NaN,NaN
11,211,Sameera,92,82,77,95,82,NaN,NaN
12,212,Santhosh,77,85,82,96,85,NaN,NaN
13,213,Anusri,92,88,86,87,88,NaN,NaN
14,214,Bhavya,69,92,93,82,92,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,NaN,NaN
16,217,Ravali,78,87,98,88,91,NaN,NaN
17,218,Meena,91,82,87,99,83,NaN,NaN
18,207,Krishna,90,94,85,68,94,NaN,NaN
19,219,Kalyan,83,85,89,87,87,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,NaN,NaN
21,220,Charan,87,88,94,73,89,NaN,NaN
22,221,Arjun,89,99,95,92,65,NaN,NaN
23,222,Niha,65,87,96,91,74,NaN,NaN
24,223,Neeraja,74,85,87,93,94,NaN,NaN
25,224,Devi,94,88,82,86,95,NaN,NaN
26,225,Bindu,95,99,85,93,96,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,NaN,NaN
28,227,Nandini,87,73,92,98,82,NaN,NaN
29,228,Syamala,82,92,77,87,85,NaN,NaN
30,229,Sumanth,85,91,82,89,88,NaN,NaN
31,230,Subhash,88,93,85,94,99,NaN,NaN
32,231,Devika,99,86,88,95,87,NaN,NaN
33,232,Isha,87,93,99,96,66,NaN,NaN
34,233,Apsara,73,89,87,87,88,NaN,NaN
35,234,Ankitha,66,94,85,82,77,NaN,NaN
36,235,Anuradha,84,95,88,85,99,NaN,NaN
37,236,Jeevana,85,78,99,88,59,NaN,NaN
38,237,Ganesh,96,92,87,92,60,NaN,NaN
39,238,Poorinima,92,77,73,77,56,NaN,NaN
40,239,Manjusha,91,90,92,97,70,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,NaN,NaN

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,orange/apple,NaN,NaN
1,202,Hari,93,93,83,78,93,orange/apple,NaN,NaN
2,203,Ram,89,89,95,92,89,orange/apple,NaN,NaN
3,204,Latha,98,98,96,77,98,orange/apple,NaN,NaN
4,205,Rani,87,87,87,92,87,orange/apple,NaN,NaN
5,206,Jyothi,89,89,82,69,89,orange/apple,NaN,=
6,207,Krishna,90,94,85,68,94,orange/apple,NaN,NaN
7,208,Raju,94,95,88,78,95,orange/apple,NaN,NaN
8,209,Suresh,95,96,99,91,96,orange/apple,NaN,NaN
9,214,Bhavya,69,92,93,82,92,orange/apple,NaN,NaN
10,210,Sandhya,78,87,87,83,87,orange/apple,NaN,NaN
11,211,Sameera,92,82,77,95,82,orange/apple,NaN,NaN
12,212,Santhosh,77,85,82,96,85,orange/apple,NaN,NaN
13,213,Anusri,92,88,86,87,88,orange/apple,NaN,NaN
14,214,Bhavya,69,92,93,82,92,orange/apple,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,orange/apple,NaN,NaN
16,217,Ravali,78,87,98,88,91,orange/apple,NaN,NaN
17,218,Meena,91,82,87,99,83,orange/apple,NaN,NaN
18,207,Krishna,90,94,85,68,94,orange/apple,NaN,NaN
19,219,Kalyan,83,85,89,87,87,orange/apple,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,orange/apple,NaN,NaN
21,220,Charan,87,88,94,73,89,orange/apple,NaN,NaN
22,221,Arjun,89,99,95,92,65,orange/apple,NaN,NaN
23,222,Niha,65,87,96,91,74,orange/apple,NaN,NaN
24,223,Neeraja,74,85,87,93,94,orange/apple,NaN,NaN
25,224,Devi,94,88,82,86,95,orange/apple,NaN,NaN
26,225,Bindu,95,99,85,93,96,orange/apple,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,orange/apple,NaN,NaN
28,227,Nandini,87,73,92,98,82,orange/apple,NaN,NaN
29,228,Syamala,82,92,77,87,85,orange/apple,NaN,NaN
30,229,Sumanth,85,91,82,89,88,orange/apple,NaN,NaN
31,230,Subhash,88,93,85,94,99,orange/apple,NaN,NaN
32,231,Devika,99,86,88,95,87,orange/apple,NaN,NaN
33,232,Isha,87,93,99,96,66,orange/apple,NaN,NaN
34,233,Apsara,73,89,87,87,88,orange/apple,NaN,NaN
35,234,Ankitha,66,94,85,82,77,orange/apple,NaN,NaN
36,235,Anuradha,84,95,88,85,99,orange/apple,NaN,NaN
37,236,Jeevana,85,78,99,88,59,orange/apple,NaN,NaN
38,237,Ganesh,96,92,87,92,60,orange/apple,NaN,NaN
39,238,Poorinima,92,77,73,77,56,orange/apple,NaN,NaN
40,239,Manjusha,91,90,92,97,70,orange/apple,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,orange/apple,NaN,NaN

In [ ]:
Dataset.drop(columns="Artificial Intelligence",inplace=True)

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,NaN,NaN
1,202,Hari,93,93,83,78,93,NaN,NaN
2,203,Ram,89,89,95,92,89,NaN,NaN
3,204,Latha,98,98,96,77,98,NaN,NaN
4,205,Rani,87,87,87,92,87,NaN,NaN
5,206,Jyothi,89,89,82,69,89,NaN,=
6,207,Krishna,90,94,85,68,94,NaN,NaN
7,208,Raju,94,95,88,78,95,NaN,NaN
8,209,Suresh,95,96,99,91,96,NaN,NaN
9,214,Bhavya,69,92,93,82,92,NaN,NaN
10,210,Sandhya,78,87,87,83,87,NaN,NaN
11,211,Sameera,92,82,77,95,82,NaN,NaN
12,212,Santhosh,77,85,82,96,85,NaN,NaN
13,213,Anusri,92,88,86,87,88,NaN,NaN
14,214,Bhavya,69,92,93,82,92,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,NaN,NaN
16,217,Ravali,78,87,98,88,91,NaN,NaN
17,218,Meena,91,82,87,99,83,NaN,NaN
18,207,Krishna,90,94,85,68,94,NaN,NaN
19,219,Kalyan,83,85,89,87,87,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,NaN,NaN
21,220,Charan,87,88,94,73,89,NaN,NaN
22,221,Arjun,89,99,95,92,65,NaN,NaN
23,222,Niha,65,87,96,91,74,NaN,NaN
24,223,Neeraja,74,85,87,93,94,NaN,NaN
25,224,Devi,94,88,82,86,95,NaN,NaN
26,225,Bindu,95,99,85,93,96,NaN,NaN
27,226,Bhargavi,96,87,88,89,87,NaN,NaN
28,227,Nandini,87,73,92,98,82,NaN,NaN
29,228,Syamala,82,92,77,87,85,NaN,NaN
30,229,Sumanth,85,91,82,89,88,NaN,NaN
31,230,Subhash,88,93,85,94,99,NaN,NaN
32,231,Devika,99,86,88,95,87,NaN,NaN
33,232,Isha,87,93,99,96,66,NaN,NaN
34,233,Apsara,73,89,87,87,88,NaN,NaN
35,234,Ankitha,66,94,85,82,77,NaN,NaN
36,235,Anuradha,84,95,88,85,99,NaN,NaN
37,236,Jeevana,85,78,99,88,59,NaN,NaN
38,237,Ganesh,96,92,87,92,60,NaN,NaN
39,238,Poorinima,92,77,73,77,56,NaN,NaN
40,239,Manjusha,91,90,92,97,70,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,NaN,NaN

In [ ]:
Dataset.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18     True
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
dtype: bool

In [ ]:
Dataset=pd.read_excel('/content/drive/MyDrive/studentmarks/Student Marks Duplicate.xlsx')

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science
0,201,Hema,86.0,86.0,91.0,95.0,86.0
1,202,Hari,93.0,93.0,83.0,78.0,93.0
2,203,Ram,NaN,89.0,95.0,92.0,89.0
3,204,Latha,98.0,98.0,NaN,77.0,NaN
4,205,Rani,87.0,87.0,87.0,92.0,87.0
5,206,Jyothi,89.0,89.0,82.0,69.0,89.0
6,207,Krishna,90.0,94.0,85.0,68.0,94.0
7,208,Raju,94.0,NaN,88.0,NaN,95.0
8,209,Suresh,95.0,96.0,99.0,91.0,96.0
9,214,Bhavya,NaN,92.0,93.0,82.0,92.0
10,210,Sandhya,78.0,87.0,87.0,83.0,87.0
11,211,Sameera,92.0,82.0,NaN,95.0,82.0
12,212,Santhosh,77.0,85.0,82.0,96.0,85.0
13,213,Anusri,92.0,88.0,86.0,87.0,88.0
14,214,Bhavya,NaN,92.0,93.0,82.0,92.0
15,216,Lakshmi,68.0,NaN,89.0,85.0,77.0
16,217,Ravali,78.0,87.0,98.0,NaN,91.0
17,218,Meena,91.0,82.0,87.0,99.0,NaN
18,207,Krishna,90.0,94.0,85.0,68.0,94.0
19,219,Kalyan,83.0,85.0,NaN,68.0,87.0
20,226,Bhargavi,96.0,87.0,88.0,89.0,87.0
21,220,Charan,87.0,88.0,94.0,73.0,89.0
22,221,Arjun,89.0,NaN,95.0,92.0,65.0
23,222,Niha,65.0,87.0,NaN,91.0,74.0
24,223,Neeraja,74.0,85.0,87.0,93.0,NaN
25,224,Devi,94.0,88.0,82.0,86.0,95.0
26,225,Bindu,NaN,99.0,85.0,NaN,96.0
27,226,Bhargavi,96.0,87.0,88.0,89.0,87.0
28,227,Nandini,87.0,73.0,92.0,NaN,82.0
29,228,Syamala,82.0,92.0,77.0,87.0,85.0
30,229,Sumanth,85.0,91.0,82.0,89.0,88.0
31,230,Subhash,88.0,93.0,85.0,94.0,99.0
32,231,Devika,99.0,86.0,88.0,95.0,87.0
33,232,Isha,87.0,93.0,99.0,96.0,66.0
34,233,Apsara,73.0,89.0,87.0,87.0,88.0
35,234,Ankitha,66.0,94.0,85.0,82.0,77.0
36,235,Anuradha,84.0,95.0,88.0,85.0,99.0
37,236,Jeevana,85.0,78.0,99.0,88.0,59.0
38,237,Ganesh,96.0,92.0,87.0,92.0,60.0
39,238,Poorinima,92.0,77.0,73.0,77.0,56.0
40,239,Manjusha,91.0,90.0,92.0,97.0,70.0
41,240,Nikhitha,93.0,68.0,91.0,69.0,85.0

In [ ]:
Dataset.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18     True
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
dtype: bool

In [ ]:
Dataset.drop_duplicates()

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,orange/apple,NaN,NaN
1,202,Hari,93,93,83,78,93,orange/apple,NaN,NaN
2,203,Ram,89,89,95,92,89,orange/apple,NaN,NaN
3,204,Latha,98,98,96,77,98,orange/apple,NaN,NaN
4,205,Rani,87,87,87,92,87,orange/apple,NaN,NaN
5,206,Jyothi,89,89,82,69,89,orange/apple,NaN,=
6,207,Krishna,90,94,85,68,94,orange/apple,NaN,NaN
7,208,Raju,94,95,88,78,95,orange/apple,NaN,NaN
8,209,Suresh,95,96,99,91,96,orange/apple,NaN,NaN
9,214,Bhavya,69,92,93,82,92,orange/apple,NaN,NaN
10,210,Sandhya,78,87,87,83,87,orange/apple,NaN,NaN
11,211,Sameera,92,82,77,95,82,orange/apple,NaN,NaN
12,212,Santhosh,77,85,82,96,85,orange/apple,NaN,NaN
13,213,Anusri,92,88,86,87,88,orange/apple,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,orange/apple,NaN,NaN
16,217,Ravali,78,87,98,88,91,orange/apple,NaN,NaN
17,218,Meena,91,82,87,99,83,orange/apple,NaN,NaN
19,219,Kalyan,83,85,89,87,87,orange/apple,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,orange/apple,NaN,NaN
21,220,Charan,87,88,94,73,89,orange/apple,NaN,NaN
22,221,Arjun,89,99,95,92,65,orange/apple,NaN,NaN
23,222,Niha,65,87,96,91,74,orange/apple,NaN,NaN
24,223,Neeraja,74,85,87,93,94,orange/apple,NaN,NaN
25,224,Devi,94,88,82,86,95,orange/apple,NaN,NaN
26,225,Bindu,95,99,85,93,96,orange/apple,NaN,NaN
28,227,Nandini,87,73,92,98,82,orange/apple,NaN,NaN
29,228,Syamala,82,92,77,87,85,orange/apple,NaN,NaN
30,229,Sumanth,85,91,82,89,88,orange/apple,NaN,NaN
31,230,Subhash,88,93,85,94,99,orange/apple,NaN,NaN
32,231,Devika,99,86,88,95,87,orange/apple,NaN,NaN
33,232,Isha,87,93,99,96,66,orange/apple,NaN,NaN
34,233,Apsara,73,89,87,87,88,orange/apple,NaN,NaN
35,234,Ankitha,66,94,85,82,77,orange/apple,NaN,NaN
36,235,Anuradha,84,95,88,85,99,orange/apple,NaN,NaN
37,236,Jeevana,85,78,99,88,59,orange/apple,NaN,NaN
38,237,Ganesh,96,92,87,92,60,orange/apple,NaN,NaN
39,238,Poorinima,92,77,73,77,56,orange/apple,NaN,NaN
40,239,Manjusha,91,90,92,97,70,orange/apple,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,orange/apple,NaN,NaN

In [ ]:
Dataset.drop_duplicates(inplace=True)

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,91,95,86,orange/apple,NaN,NaN
1,202,Hari,93,93,83,78,93,orange/apple,NaN,NaN
2,203,Ram,89,89,95,92,89,orange/apple,NaN,NaN
3,204,Latha,98,98,96,77,98,orange/apple,NaN,NaN
4,205,Rani,87,87,87,92,87,orange/apple,NaN,NaN
5,206,Jyothi,89,89,82,69,89,orange/apple,NaN,=
6,207,Krishna,90,94,85,68,94,orange/apple,NaN,NaN
7,208,Raju,94,95,88,78,95,orange/apple,NaN,NaN
8,209,Suresh,95,96,99,91,96,orange/apple,NaN,NaN
9,214,Bhavya,69,92,93,82,92,orange/apple,NaN,NaN
10,210,Sandhya,78,87,87,83,87,orange/apple,NaN,NaN
11,211,Sameera,92,82,77,95,82,orange/apple,NaN,NaN
12,212,Santhosh,77,85,82,96,85,orange/apple,NaN,NaN
13,213,Anusri,92,88,86,87,88,orange/apple,NaN,NaN
15,216,Lakshmi,68,77,89,85,77,orange/apple,NaN,NaN
16,217,Ravali,78,87,98,88,91,orange/apple,NaN,NaN
17,218,Meena,91,82,87,99,83,orange/apple,NaN,NaN
19,219,Kalyan,83,85,89,87,87,orange/apple,NaN,NaN
20,226,Bhargavi,96,87,88,89,87,orange/apple,NaN,NaN
21,220,Charan,87,88,94,73,89,orange/apple,NaN,NaN
22,221,Arjun,89,99,95,92,65,orange/apple,NaN,NaN
23,222,Niha,65,87,96,91,74,orange/apple,NaN,NaN
24,223,Neeraja,74,85,87,93,94,orange/apple,NaN,NaN
25,224,Devi,94,88,82,86,95,orange/apple,NaN,NaN
26,225,Bindu,95,99,85,93,96,orange/apple,NaN,NaN
28,227,Nandini,87,73,92,98,82,orange/apple,NaN,NaN
29,228,Syamala,82,92,77,87,85,orange/apple,NaN,NaN
30,229,Sumanth,85,91,82,89,88,orange/apple,NaN,NaN
31,230,Subhash,88,93,85,94,99,orange/apple,NaN,NaN
32,231,Devika,99,86,88,95,87,orange/apple,NaN,NaN
33,232,Isha,87,93,99,96,66,orange/apple,NaN,NaN
34,233,Apsara,73,89,87,87,88,orange/apple,NaN,NaN
35,234,Ankitha,66,94,85,82,77,orange/apple,NaN,NaN
36,235,Anuradha,84,95,88,85,99,orange/apple,NaN,NaN
37,236,Jeevana,85,78,99,88,59,orange/apple,NaN,NaN
38,237,Ganesh,96,92,87,92,60,orange/apple,NaN,NaN
39,238,Poorinima,92,77,73,77,56,orange/apple,NaN,NaN
40,239,Manjusha,91,90,92,97,70,orange/apple,NaN,NaN
41,240,Nikhitha,93,68,91,69,85,orange/apple,NaN,NaN

In [ ]:
Dataset=pd.read_excel('/content/drive/MyDrive/studentmarks/Student Marks Missing.xlsx')

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence
0,201,Hema,86.0,86.0,91.0,95.0,86.0,69.0
1,202,Hari,93.0,93.0,83.0,78.0,93.0,70.0
2,203,Ram,NaN,89.0,95.0,92.0,89.0,86.0
3,204,Latha,98.0,98.0,NaN,77.0,NaN,90.0
4,205,Rani,87.0,87.0,87.0,92.0,87.0,96.0
5,206,Jyothi,89.0,89.0,82.0,69.0,89.0,86.0
6,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
7,208,Raju,94.0,NaN,88.0,NaN,95.0,89.0
8,209,Suresh,95.0,96.0,99.0,91.0,96.0,98.0
9,214,Bhavya,NaN,92.0,93.0,82.0,92.0,96.0
10,210,Sandhya,78.0,87.0,87.0,83.0,87.0,NaN
11,211,Sameera,92.0,82.0,NaN,95.0,82.0,89.0
12,212,Santhosh,77.0,85.0,82.0,96.0,85.0,94.0
13,213,Anusri,92.0,88.0,86.0,87.0,88.0,NaN
14,214,Bhavya,NaN,92.0,93.0,82.0,92.0,96.0
15,216,Lakshmi,68.0,NaN,89.0,85.0,77.0,87.0
16,217,Ravali,78.0,87.0,98.0,NaN,91.0,82.0
17,218,Meena,91.0,82.0,87.0,99.0,NaN,85.0
18,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
19,219,Kalyan,83.0,85.0,NaN,68.0,87.0,NaN
20,226,Bhargavi,96.0,87.0,88.0,89.0,87.0,93.0
21,220,Charan,87.0,88.0,94.0,73.0,89.0,92.0
22,221,Arjun,89.0,NaN,95.0,92.0,65.0,77.0
23,222,Niha,65.0,87.0,NaN,91.0,74.0,88.0
24,223,Neeraja,74.0,85.0,87.0,93.0,NaN,99.0
25,224,Devi,94.0,88.0,82.0,86.0,95.0,87.0
26,225,Bindu,NaN,99.0,85.0,NaN,96.0,86.0
27,226,Bhargavi,96.0,87.0,88.0,89.0,87.0,NaN
28,227,Nandini,87.0,73.0,92.0,NaN,82.0,89.0
29,228,Syamala,82.0,92.0,77.0,87.0,85.0,98.0
30,229,Sumanth,85.0,91.0,82.0,89.0,88.0,87.0
31,230,Subhash,88.0,93.0,85.0,94.0,99.0,89.0
32,231,Devika,99.0,86.0,88.0,95.0,87.0,90.0
33,232,Isha,87.0,93.0,99.0,96.0,66.0,94.0
34,233,Apsara,73.0,89.0,87.0,87.0,88.0,95.0
35,234,Ankitha,66.0,94.0,85.0,82.0,77.0,78.0
36,235,Anuradha,84.0,95.0,88.0,85.0,99.0,92.0
37,236,Jeevana,85.0,78.0,99.0,88.0,59.0,77.0
38,237,Ganesh,96.0,92.0,87.0,92.0,60.0,92.0
39,238,Poorinima,92.0,77.0,73.0,77.0,56.0,69.0
40,239,Manjusha,91.0,90.0,92.0,97.0,70.0,68.0
41,240,Nikhitha,93.0,68.0,91.0,69.0,85.0,78.0

In [ ]:
Dataset["Python"].fillna(90)

0     91.0
1     83.0
2     95.0
3     90.0
4     87.0
5     82.0
6     85.0
7     88.0
8     99.0
9     93.0
10    87.0
11    90.0
12    82.0
13    86.0
14    93.0
15    89.0
16    98.0
17    87.0
18    85.0
19    90.0
20    88.0
21    94.0
22    95.0
23    90.0
24    87.0
25    82.0
26    85.0
27    88.0
28    92.0
29    77.0
30    82.0
31    85.0
32    88.0
33    99.0
34    87.0
35    85.0
36    88.0
37    99.0
38    87.0
39    73.0
40    92.0
41    91.0
Name: Python, dtype: float64

In [ ]:
Dataset.fillna(90)

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence
0,201,Hema,86.0,86.0,91.0,95.0,86.0,69.0
1,202,Hari,93.0,93.0,83.0,78.0,93.0,70.0
2,203,Ram,90.0,89.0,95.0,92.0,89.0,86.0
3,204,Latha,98.0,98.0,90.0,77.0,90.0,90.0
4,205,Rani,87.0,87.0,87.0,92.0,87.0,96.0
5,206,Jyothi,89.0,89.0,82.0,69.0,89.0,86.0
6,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
7,208,Raju,94.0,90.0,88.0,90.0,95.0,89.0
8,209,Suresh,95.0,96.0,99.0,91.0,96.0,98.0
9,214,Bhavya,90.0,92.0,93.0,82.0,92.0,96.0
10,210,Sandhya,78.0,87.0,87.0,83.0,87.0,90.0
11,211,Sameera,92.0,82.0,90.0,95.0,82.0,89.0
12,212,Santhosh,77.0,85.0,82.0,96.0,85.0,94.0
13,213,Anusri,92.0,88.0,86.0,87.0,88.0,90.0
14,214,Bhavya,90.0,92.0,93.0,82.0,92.0,96.0
15,216,Lakshmi,68.0,90.0,89.0,85.0,77.0,87.0
16,217,Ravali,78.0,87.0,98.0,90.0,91.0,82.0
17,218,Meena,91.0,82.0,87.0,99.0,90.0,85.0
18,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
19,219,Kalyan,83.0,85.0,90.0,68.0,87.0,90.0
20,226,Bhargavi,96.0,87.0,88.0,89.0,87.0,93.0
21,220,Charan,87.0,88.0,94.0,73.0,89.0,92.0
22,221,Arjun,89.0,90.0,95.0,92.0,65.0,77.0
23,222,Niha,65.0,87.0,90.0,91.0,74.0,88.0
24,223,Neeraja,74.0,85.0,87.0,93.0,90.0,99.0
25,224,Devi,94.0,88.0,82.0,86.0,95.0,87.0
26,225,Bindu,90.0,99.0,85.0,90.0,96.0,86.0
27,226,Bhargavi,96.0,87.0,88.0,89.0,87.0,90.0
28,227,Nandini,87.0,73.0,92.0,90.0,82.0,89.0
29,228,Syamala,82.0,92.0,77.0,87.0,85.0,98.0
30,229,Sumanth,85.0,91.0,82.0,89.0,88.0,87.0
31,230,Subhash,88.0,93.0,85.0,94.0,99.0,89.0
32,231,Devika,99.0,86.0,88.0,95.0,87.0,90.0
33,232,Isha,87.0,93.0,99.0,96.0,66.0,94.0
34,233,Apsara,73.0,89.0,87.0,87.0,88.0,95.0
35,234,Ankitha,66.0,94.0,85.0,82.0,77.0,78.0
36,235,Anuradha,84.0,95.0,88.0,85.0,99.0,92.0
37,236,Jeevana,85.0,78.0,99.0,88.0,59.0,77.0
38,237,Ganesh,96.0,92.0,87.0,92.0,60.0,92.0
39,238,Poorinima,92.0,77.0,73.0,77.0,56.0,69.0
40,239,Manjusha,91.0,90.0,92.0,97.0,70.0,68.0
41,240,Nikhitha,93.0,68.0,91.0,69.0,85.0,78.0

In [ ]:
Dataset.dropna()

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence
0,201,Hema,86.0,86.0,91.0,95.0,86.0,69.0
1,202,Hari,93.0,93.0,83.0,78.0,93.0,70.0
4,205,Rani,87.0,87.0,87.0,92.0,87.0,96.0
5,206,Jyothi,89.0,89.0,82.0,69.0,89.0,86.0
6,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
8,209,Suresh,95.0,96.0,99.0,91.0,96.0,98.0
12,212,Santhosh,77.0,85.0,82.0,96.0,85.0,94.0
18,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
20,226,Bhargavi,96.0,87.0,88.0,89.0,87.0,93.0
21,220,Charan,87.0,88.0,94.0,73.0,89.0,92.0
25,224,Devi,94.0,88.0,82.0,86.0,95.0,87.0
29,228,Syamala,82.0,92.0,77.0,87.0,85.0,98.0
30,229,Sumanth,85.0,91.0,82.0,89.0,88.0,87.0
31,230,Subhash,88.0,93.0,85.0,94.0,99.0,89.0
32,231,Devika,99.0,86.0,88.0,95.0,87.0,90.0
33,232,Isha,87.0,93.0,99.0,96.0,66.0,94.0
34,233,Apsara,73.0,89.0,87.0,87.0,88.0,95.0
35,234,Ankitha,66.0,94.0,85.0,82.0,77.0,78.0
36,235,Anuradha,84.0,95.0,88.0,85.0,99.0,92.0
37,236,Jeevana,85.0,78.0,99.0,88.0,59.0,77.0
38,237,Ganesh,96.0,92.0,87.0,92.0,60.0,92.0
39,238,Poorinima,92.0,77.0,73.0,77.0,56.0,69.0
40,239,Manjusha,91.0,90.0,92.0,97.0,70.0,68.0
41,240,Nikhitha,93.0,68.0,91.0,69.0,85.0,78.0

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence
0,201,Hema,86.0,86.0,91.0,95.0,86.0,69.0
1,202,Hari,93.0,93.0,83.0,78.0,93.0,70.0
2,203,Ram,NaN,89.0,95.0,92.0,89.0,86.0
3,204,Latha,98.0,98.0,NaN,77.0,NaN,90.0
4,205,Rani,87.0,87.0,87.0,92.0,87.0,96.0
5,206,Jyothi,89.0,89.0,82.0,69.0,89.0,86.0
6,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
7,208,Raju,94.0,NaN,88.0,NaN,95.0,89.0
8,209,Suresh,95.0,96.0,99.0,91.0,96.0,98.0
9,214,Bhavya,NaN,92.0,93.0,82.0,92.0,96.0
10,210,Sandhya,78.0,87.0,87.0,83.0,87.0,NaN
11,211,Sameera,92.0,82.0,NaN,95.0,82.0,89.0
12,212,Santhosh,77.0,85.0,82.0,96.0,85.0,94.0
13,213,Anusri,92.0,88.0,86.0,87.0,88.0,NaN
14,214,Bhavya,NaN,92.0,93.0,82.0,92.0,96.0
15,216,Lakshmi,68.0,NaN,89.0,85.0,77.0,87.0
16,217,Ravali,78.0,87.0,98.0,NaN,91.0,82.0
17,218,Meena,91.0,82.0,87.0,99.0,NaN,85.0
18,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
19,219,Kalyan,83.0,85.0,NaN,68.0,87.0,NaN
20,226,Bhargavi,96.0,87.0,88.0,89.0,87.0,93.0
21,220,Charan,87.0,88.0,94.0,73.0,89.0,92.0
22,221,Arjun,89.0,NaN,95.0,92.0,65.0,77.0
23,222,Niha,65.0,87.0,NaN,91.0,74.0,88.0
24,223,Neeraja,74.0,85.0,87.0,93.0,NaN,99.0
25,224,Devi,94.0,88.0,82.0,86.0,95.0,87.0
26,225,Bindu,NaN,99.0,85.0,NaN,96.0,86.0
27,226,Bhargavi,96.0,87.0,88.0,89.0,87.0,NaN
28,227,Nandini,87.0,73.0,92.0,NaN,82.0,89.0
29,228,Syamala,82.0,92.0,77.0,87.0,85.0,98.0
30,229,Sumanth,85.0,91.0,82.0,89.0,88.0,87.0
31,230,Subhash,88.0,93.0,85.0,94.0,99.0,89.0
32,231,Devika,99.0,86.0,88.0,95.0,87.0,90.0
33,232,Isha,87.0,93.0,99.0,96.0,66.0,94.0
34,233,Apsara,73.0,89.0,87.0,87.0,88.0,95.0
35,234,Ankitha,66.0,94.0,85.0,82.0,77.0,78.0
36,235,Anuradha,84.0,95.0,88.0,85.0,99.0,92.0
37,236,Jeevana,85.0,78.0,99.0,88.0,59.0,77.0
38,237,Ganesh,96.0,92.0,87.0,92.0,60.0,92.0
39,238,Poorinima,92.0,77.0,73.0,77.0,56.0,69.0
40,239,Manjusha,91.0,90.0,92.0,97.0,70.0,68.0
41,240,Nikhitha,93.0,68.0,91.0,69.0,85.0,78.0

In [ ]:
import pandas as pd

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence
0,201,Hema,86.0,86.0,91.0,95.0,86.0,69.0
1,202,Hari,93.0,93.0,83.0,78.0,93.0,70.0
2,203,Ram,NaN,89.0,95.0,92.0,89.0,86.0
3,204,Latha,98.0,98.0,NaN,77.0,NaN,90.0
4,205,Rani,87.0,87.0,87.0,92.0,87.0,96.0
5,206,Jyothi,89.0,89.0,82.0,69.0,89.0,86.0
6,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
7,208,Raju,94.0,NaN,88.0,NaN,95.0,89.0
8,209,Suresh,95.0,96.0,99.0,91.0,96.0,98.0
9,214,Bhavya,NaN,92.0,93.0,82.0,92.0,96.0
10,210,Sandhya,78.0,87.0,87.0,83.0,87.0,NaN
11,211,Sameera,92.0,82.0,NaN,95.0,82.0,89.0
12,212,Santhosh,77.0,85.0,82.0,96.0,85.0,94.0
13,213,Anusri,92.0,88.0,86.0,87.0,88.0,NaN
14,214,Bhavya,NaN,92.0,93.0,82.0,92.0,96.0
15,216,Lakshmi,68.0,NaN,89.0,85.0,77.0,87.0
16,217,Ravali,78.0,87.0,98.0,NaN,91.0,82.0
17,218,Meena,91.0,82.0,87.0,99.0,NaN,85.0
18,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
19,219,Kalyan,83.0,85.0,NaN,68.0,87.0,NaN
20,226,Bhargavi,96.0,87.0,88.0,89.0,87.0,93.0
21,220,Charan,87.0,88.0,94.0,73.0,89.0,92.0
22,221,Arjun,89.0,NaN,95.0,92.0,65.0,77.0
23,222,Niha,65.0,87.0,NaN,91.0,74.0,88.0
24,223,Neeraja,74.0,85.0,87.0,93.0,NaN,99.0
25,224,Devi,94.0,88.0,82.0,86.0,95.0,87.0
26,225,Bindu,NaN,99.0,85.0,NaN,96.0,86.0
27,226,Bhargavi,96.0,87.0,88.0,89.0,87.0,NaN
28,227,Nandini,87.0,73.0,92.0,NaN,82.0,89.0
29,228,Syamala,82.0,92.0,77.0,87.0,85.0,98.0
30,229,Sumanth,85.0,91.0,82.0,89.0,88.0,87.0
31,230,Subhash,88.0,93.0,85.0,94.0,99.0,89.0
32,231,Devika,99.0,86.0,88.0,95.0,87.0,90.0
33,232,Isha,87.0,93.0,99.0,96.0,66.0,94.0
34,233,Apsara,73.0,89.0,87.0,87.0,88.0,95.0
35,234,Ankitha,66.0,94.0,85.0,82.0,77.0,78.0
36,235,Anuradha,84.0,95.0,88.0,85.0,99.0,92.0
37,236,Jeevana,85.0,78.0,99.0,88.0,59.0,77.0
38,237,Ganesh,96.0,92.0,87.0,92.0,60.0,92.0
39,238,Poorinima,92.0,77.0,73.0,77.0,56.0,69.0
40,239,Manjusha,91.0,90.0,92.0,97.0,70.0,68.0
41,240,Nikhitha,93.0,68.0,91.0,69.0,85.0,78.0

In [ ]:
Dataset.loc[Dataset["Python"]>90]

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence
0,201,Hema,86.0,86.0,91.0,95.0,86.0,69.0
2,203,Ram,NaN,89.0,95.0,92.0,89.0,86.0
8,209,Suresh,95.0,96.0,99.0,91.0,96.0,98.0
9,214,Bhavya,NaN,92.0,93.0,82.0,92.0,96.0
14,214,Bhavya,NaN,92.0,93.0,82.0,92.0,96.0
16,217,Ravali,78.0,87.0,98.0,NaN,91.0,82.0
21,220,Charan,87.0,88.0,94.0,73.0,89.0,92.0
22,221,Arjun,89.0,NaN,95.0,92.0,65.0,77.0
28,227,Nandini,87.0,73.0,92.0,NaN,82.0,89.0
33,232,Isha,87.0,93.0,99.0,96.0,66.0,94.0
37,236,Jeevana,85.0,78.0,99.0,88.0,59.0,77.0
40,239,Manjusha,91.0,90.0,92.0,97.0,70.0,68.0
41,240,Nikhitha,93.0,68.0,91.0,69.0,85.0,78.0

In [ ]:
Dataset.loc[Dataset["Java"]<80]

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence
28,227,Nandini,87.0,73.0,92.0,NaN,82.0,89.0
37,236,Jeevana,85.0,78.0,99.0,88.0,59.0,77.0
39,238,Poorinima,92.0,77.0,73.0,77.0,56.0,69.0
41,240,Nikhitha,93.0,68.0,91.0,69.0,85.0,78.0

In [ ]:
Dataset.loc[(Dataset["C Language"]>90)&(Dataset["Python"]<85)]

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence
1,202,Hari,93.0,93.0,83.0,78.0,93.0,70.0
25,224,Devi,94.0,88.0,82.0,86.0,95.0,87.0
39,238,Poorinima,92.0,77.0,73.0,77.0,56.0,69.0

In [ ]:
Dataset.loc[Dataset["Name of the Student"].str.contains("n")]

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence
4,205,Rani,87.0,87.0,87.0,92.0,87.0,96.0
6,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
10,210,Sandhya,78.0,87.0,87.0,83.0,87.0,NaN
12,212,Santhosh,77.0,85.0,82.0,96.0,85.0,94.0
13,213,Anusri,92.0,88.0,86.0,87.0,88.0,NaN
17,218,Meena,91.0,82.0,87.0,99.0,NaN,85.0
18,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
19,219,Kalyan,83.0,85.0,NaN,68.0,87.0,NaN
21,220,Charan,87.0,88.0,94.0,73.0,89.0,92.0
22,221,Arjun,89.0,NaN,95.0,92.0,65.0,77.0
26,225,Bindu,NaN,99.0,85.0,NaN,96.0,86.0
28,227,Nandini,87.0,73.0,92.0,NaN,82.0,89.0
30,229,Sumanth,85.0,91.0,82.0,89.0,88.0,87.0
35,234,Ankitha,66.0,94.0,85.0,82.0,77.0,78.0
36,235,Anuradha,84.0,95.0,88.0,85.0,99.0,92.0
37,236,Jeevana,85.0,78.0,99.0,88.0,59.0,77.0
38,237,Ganesh,96.0,92.0,87.0,92.0,60.0,92.0
39,238,Poorinima,92.0,77.0,73.0,77.0,56.0,69.0
40,239,Manjusha,91.0,90.0,92.0,97.0,70.0,68.0

In [ ]:
Dataset.loc[Dataset["Name of the Student"].str.startswith("H")]

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence
0,201,Hema,86.0,86.0,91.0,95.0,86.0,69.0
1,202,Hari,93.0,93.0,83.0,78.0,93.0,70.0

In [ ]:
Dataset.loc[Dataset["Name of the Student"].str.startswith("R")]

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence
2,203,Ram,NaN,89.0,95.0,92.0,89.0,86.0
4,205,Rani,87.0,87.0,87.0,92.0,87.0,96.0
7,208,Raju,94.0,NaN,88.0,NaN,95.0,89.0
16,217,Ravali,78.0,87.0,98.0,NaN,91.0,82.0

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence
0,201,Hema,86.0,86.0,91.0,95.0,86.0,69.0
1,202,Hari,93.0,93.0,83.0,78.0,93.0,70.0
2,203,Ram,NaN,89.0,95.0,92.0,89.0,86.0
3,204,Latha,98.0,98.0,NaN,77.0,NaN,90.0
4,205,Rani,87.0,87.0,87.0,92.0,87.0,96.0
5,206,Jyothi,89.0,89.0,82.0,69.0,89.0,86.0
6,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
7,208,Raju,94.0,NaN,88.0,NaN,95.0,89.0
8,209,Suresh,95.0,96.0,99.0,91.0,96.0,98.0
9,214,Bhavya,NaN,92.0,93.0,82.0,92.0,96.0
10,210,Sandhya,78.0,87.0,87.0,83.0,87.0,NaN
11,211,Sameera,92.0,82.0,NaN,95.0,82.0,89.0
12,212,Santhosh,77.0,85.0,82.0,96.0,85.0,94.0
13,213,Anusri,92.0,88.0,86.0,87.0,88.0,NaN
14,214,Bhavya,NaN,92.0,93.0,82.0,92.0,96.0
15,216,Lakshmi,68.0,NaN,89.0,85.0,77.0,87.0
16,217,Ravali,78.0,87.0,98.0,NaN,91.0,82.0
17,218,Meena,91.0,82.0,87.0,99.0,NaN,85.0
18,207,Krishna,90.0,94.0,85.0,68.0,94.0,93.0
19,219,Kalyan,83.0,85.0,NaN,68.0,87.0,NaN
20,226,Bhargavi,96.0,87.0,88.0,89.0,87.0,93.0
21,220,Charan,87.0,88.0,94.0,73.0,89.0,92.0
22,221,Arjun,89.0,NaN,95.0,92.0,65.0,77.0
23,222,Niha,65.0,87.0,NaN,91.0,74.0,88.0
24,223,Neeraja,74.0,85.0,87.0,93.0,NaN,99.0
25,224,Devi,94.0,88.0,82.0,86.0,95.0,87.0
26,225,Bindu,NaN,99.0,85.0,NaN,96.0,86.0
27,226,Bhargavi,96.0,87.0,88.0,89.0,87.0,NaN
28,227,Nandini,87.0,73.0,92.0,NaN,82.0,89.0
29,228,Syamala,82.0,92.0,77.0,87.0,85.0,98.0
30,229,Sumanth,85.0,91.0,82.0,89.0,88.0,87.0
31,230,Subhash,88.0,93.0,85.0,94.0,99.0,89.0
32,231,Devika,99.0,86.0,88.0,95.0,87.0,90.0
33,232,Isha,87.0,93.0,99.0,96.0,66.0,94.0
34,233,Apsara,73.0,89.0,87.0,87.0,88.0,95.0
35,234,Ankitha,66.0,94.0,85.0,82.0,77.0,78.0
36,235,Anuradha,84.0,95.0,88.0,85.0,99.0,92.0
37,236,Jeevana,85.0,78.0,99.0,88.0,59.0,77.0
38,237,Ganesh,96.0,92.0,87.0,92.0,60.0,92.0
39,238,Poorinima,92.0,77.0,73.0,77.0,56.0,69.0
40,239,Manjusha,91.0,90.0,92.0,97.0,70.0,68.0
41,240,Nikhitha,93.0,68.0,91.0,69.0,85.0,78.0

In [ ]:
Dataset["Python"]=(Dataset["Java"]/20)+50

In [ ]:
Dataset

,Roll No,Name of the Student,C Language,Java,Python,Machine Learning,Data Science,Artificial Intelligence,Unnamed: 8,Unnamed: 9
0,201,Hema,86,86,54.30,95,86,69,NaN,NaN
1,202,Hari,93,93,54.65,78,93,70,NaN,NaN
2,203,Ram,89,89,54.45,92,89,86,NaN,NaN
3,204,Latha,98,98,54.90,77,98,90,NaN,NaN
4,205,Rani,87,87,54.35,92,87,96,NaN,NaN
5,206,Jyothi,89,89,54.45,69,89,86,NaN,=
6,207,Krishna,90,94,54.70,68,94,93,NaN,NaN
7,208,Raju,94,95,54.75,78,95,89,NaN,NaN
8,209,Suresh,95,96,54.80,91,96,98,NaN,NaN
9,214,Bhavya,69,92,54.60,82,92,96,NaN,NaN
10,210,Sandhya,78,87,54.35,83,87,87,NaN,NaN
11,211,Sameera,92,82,54.10,95,82,89,NaN,NaN
12,212,Santhosh,77,85,54.25,96,85,94,NaN,NaN
13,213,Anusri,92,88,54.40,87,88,95,NaN,NaN
14,214,Bhavya,69,92,54.60,82,92,96,NaN,NaN
15,216,Lakshmi,68,77,53.85,85,77,87,NaN,NaN
16,217,Ravali,78,87,54.35,88,91,82,NaN,NaN
17,218,Meena,91,82,54.10,99,83,85,NaN,NaN
18,207,Krishna,90,94,54.70,68,94,93,NaN,NaN
19,219,Kalyan,83,85,54.25,87,87,88,NaN,NaN
20,226,Bhargavi,96,87,54.35,89,87,93,NaN,NaN
21,220,Charan,87,88,54.40,73,89,92,NaN,NaN
22,221,Arjun,89,99,54.95,92,65,77,NaN,NaN
23,222,Niha,65,87,54.35,91,74,88,NaN,NaN
24,223,Neeraja,74,85,54.25,93,94,99,NaN,NaN
25,224,Devi,94,88,54.40,86,95,87,NaN,NaN
26,225,Bindu,95,99,54.95,93,96,86,NaN,NaN
27,226,Bhargavi,96,87,54.35,89,87,93,NaN,NaN
28,227,Nandini,87,73,53.65,98,82,89,NaN,NaN
29,228,Syamala,82,92,54.60,87,85,98,NaN,NaN
30,229,Sumanth,85,91,54.55,89,88,87,NaN,NaN
31,230,Subhash,88,93,54.65,94,99,89,NaN,NaN
32,231,Devika,99,86,54.30,95,87,90,NaN,NaN
33,232,Isha,87,93,54.65,96,66,94,NaN,NaN
34,233,Apsara,73,89,54.45,87,88,95,NaN,NaN
35,234,Ankitha,66,94,54.70,82,77,78,NaN,NaN
36,235,Anuradha,84,95,54.75,85,99,92,NaN,NaN
37,236,Jeevana,85,78,53.90,88,59,77,NaN,NaN
38,237,Ganesh,96,92,54.60,92,60,92,NaN,NaN
39,238,Poorinima,92,77,53.85,77,56,69,NaN,NaN
40,239,Manjusha,91,90,54.50,97,70,68,NaN,NaN
41,240,Nikhitha,93,68,53.40,69,85,78,NaN,NaN